*{ 
    padding: 0;
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
    list-style-type: none;
  }
  body{
    display: flex;
    background: url(./assets/Rectangle.svg);
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
  }
  header{
    width: 100%;
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    padding: 10px;
  }
  .navl{
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
  .navl > ul{
    display: flex;
    width: 100%;
    justify-content: space-between;   
  }
  .link{
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    justify-content: space-between;
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .logoimage{
    display: flex;
    justify-content:space-between;
    width: 10%;
  }

  .logotext{
    display: flex;
    justify-content:space-between;
    width: 65%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .sign_in {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    justify-content: center;
    color: white;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100px;
    height: 50px;
   }
  .sign_in:hover{
    background: orange;
    color: #FFFFFF;
    transition: 0.3s;
  }
  .logo2:hover{
    transition: 0.3s;
    color:lightskyblue
  }
  .link:hover{
    transition: 0.3s;
    color: lightskyblue
  }